body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(33,33,33);
    padding-bottom: 50px;
}

.webpart1 {
    text-align: center;
    background-color: black;
    padding: 10px;
}

.menupart {
    text-align: left;
    background-color: rgb(52, 52, 52);
    padding: 10px;
    color: white;
    a {
        color: white;
        margin: 0 10px;
    }
}

.translate {
    position: absolute;
    top: 10px;
    right: 10px;
    .tran {
        margin-left: 10px;
        border: 2px solid white;
        border-radius: 5px;
        height: 30px;
    }
    
    table td {
        padding: 6px;
    }
}

.webpart2 {
    color: white;
    margin: 10px;
}

.webpart3 {
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
        color: white;
    }
}